/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

:root{
    --big-width:1200px;
}

/* Generics */

header{
    background-color: #ADD8E6;
}

ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    margin: 0 5px;    
}

/* header element */

.header-top{
    display: flex;
    justify-content: center;
}

.container-box{
    width: var(--big-width);
    display: flex;
    height: 40px;
    margin: 20px 0;
    align-items: center;
}

.box{
    background-color: #DAA520;
    border: 3px dashed black;
    font-size: 20px;
    padding: 10px;
}

.lateral{
    flex-basis: 20%;
}

.central{
    flex-basis: 60%;
}

.login{
    display: flex;
    justify-content: flex-end;
}

.jumbotron{
    background-color: #00008B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}

.jumbotron-element{
    flex-basis: 45%;
    height: 400px;
    background-color: #EE82EE;
    border: 3px dashed black;
}

.header-bottom{
    padding: 5px 0;
}

/* main */

.section-row{
    display: flex;
    justify-content: center;
}

.row{
    width: var(--big-width);
    display: flex;
    padding: 40px 0;
}

.row-element{
    height: 500px;
    border: 3px dashed black;
}

.big-element{
    flex-basis: 60%;
    background-color: #1E90FF;
}

.small-element{
    flex-basis: 40%;
    background-color: #FFC0CB;
}

.dark-bg{
    background-color: #D3D3D3 ;
}

.last-row-element{
    flex-basis: 100%;
    height: 900px;
    border: 3px dashed black;
    background-color: #228B22;
}